 <%- include partials/header.ejs %>

 <%- include partials/main_nav.ejs %>

<main class="container">
<div class ="containter">




<br>
<br>
<br>
<br>
<br>
<br>

<h2 class = "container" style = "text-align:center">ERROR.....Unfortunately my computer got wiped and all of my previous projects were lossed in the process</h2>

<img src="fail.gif" alt="" class ="">




 <%- include partials/bottom_nav.ejs %>

 <%- include partials/footer.ejs %>