 <%- include partials/header.ejs %>

 <%- include partials/main_nav.ejs %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Services I Provide...</h1>
    <p class="lead">Web Development</p>
    <p class="lead">Java Programming</p>
    <p class="lead">Python</p>
    <p class="lead">SQL and Databases</p>
    <p class="lead">Oil Changes</p>
  </div>
  
</div>


  <%- include partials/bottom_nav.ejs %>

 <%- include partials/footer.ejs %>